name: deployment
on: [push, workflow_dispatch]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '>=10.15.0'
      - name: Get the code
        uses: actions/checkout@v6
      - name: Install Dependency
        run: npm ci
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '>=10.15.0'
      - name: Get the code
        uses: actions/checkout@v6
      - name: Install Dependency
        run: npm ci
      - name: Tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '>=10.15.0'
      - name: Get the project
        uses: actions/checkout@v6
      - name: Build Project
        run: npm run build
      - name: Deploy
        run: echo "deploying....."

